<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_RichSnippets>
            <version>1.0.0.0</version>
        </MageProfis_RichSnippets>
    </modules>
    <global>
        <helpers>
            <richsnippets>
                <class>MageProfis_RichSnippets_Helper</class>
            </richsnippets>
        </helpers>
        <blocks>
            <richsnippets>
                <class>MageProfis_RichSnippets_Block</class>
            </richsnippets>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <richsnippets>
                                            <title>Rich Snippets</title>
                                        </richsnippets>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <richsnippets>
                    <file>mageprofis/richsnippets.xml</file>
                </richsnippets>
            </updates>
        </layout>
    </frontend>
</config>
