<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_RichSnippets>
            <version>1.0.0.0</version>
        </MageProfis_RichSnippets>
    </modules>
    <global>
        <helpers>
            <richsnippets>
                <class>MageProfis_RichSnippets_Helper</class>
            </richsnippets>
        </helpers>
        <blocks>
            <richsnippets>
                <class>MageProfis_RichSnippets_Block</class>
            </richsnippets>
        </blocks>
        <models>
            <richsnippets>
                <class>MageProfis_RichSnippets_Model</class>
            </richsnippets>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <richsnippets>
                                            <title>Rich Snippets</title>
                                        </richsnippets>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <richsnippets>
                    <file>mageprofis/richsnippets.xml</file>
                </richsnippets>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <richsnippets_trustedshops>
                <schedule>
                    <cron_expr>45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>richsnippets/cron_trustedshops::run</model>
                </run>
            </richsnippets_trustedshops>
        </jobs>
    </crontab>
    <default>
        <richsnippets>
            <rating>
                <active>1</active>
                <mode>magento</mode>
            </rating>
        </richsnippets>
    </default>
</config>
